.nuxt
.output
node_modules
.pnpm-store
.data
.DS_Store
*.log
.env
.env.*
!.env.example

# Share the VS Code workspace settings required for Tailwind CSS syntax support.
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json

sample
